.sidenav-container {
    height: 100%;
  }
  
  .chat-sidenav {
    width: 400px;
  }
  
  .chat-container {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .message-container {
    flex-grow: 1; /* Permette al contenitore dei messaggi di espandersi */
    overflow-y: auto; /* Abilita lo scorrimento */
    margin-bottom: 15px; /* Margine inferiore per distanziare dall'input */
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .sent-message {
    background-color: #dcf8c6; /* Colore di sfondo per i messaggi inviati */
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    text-align: right; /* Allinea il testo a destra */
    max-width: 70%; /* Limita la larghezza dei messaggi */
    align-self: flex-end; /* Sposta il messaggio a destra */
    margin-left: auto; /* Sposta a destra */
  }
  
  .received-message {
    background-color: #f1f0f0; /* Colore di sfondo per i messaggi ricevuti */
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    text-align: left; /* Allinea il testo a sinistra */
    max-width: 70%; /* Limita la larghezza dei messaggi */
    align-self: flex-start; /* Sposta il messaggio a sinistra */
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-top: auto; /* Sposta l'input alla fine del contenitore */
  }
  
  input[type="text"] {
    flex-grow: 1; /* Permette all'input di espandersi */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    color: #ffffff;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .chat-toggle-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }