<div class="bg-white" *ngIf="product">
  <div class="pt-6">
    <nav aria-label="Breadcrumb">
      <ol role="list" class="mx-auto flex max-w-2xl items-center space-x-2 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <li>
          <div class="flex items-center">
            <a [routerLink]="'/'" class="mr-2 text-sm font-medium text-gray-900">Giochi</a>
            <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" aria-hidden="true" class="h-5 w-4 text-gray-300">
              <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
            </svg>
          </div>
        </li>

        <li class="text-sm">
          <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{product.title}}</a>
        </li>
      </ol>
    </nav>

    <!-- Image gallery -->
    <div class="mx-auto mt-6 max-w-2xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:gap-x-8 lg:px-8">
      <div class="hidden overflow-hidden rounded-lg lg:block" *ngIf="this.photo1">
        <img [src]="BASE_IMAGE_URL + product.url1" (error)="this.photo1=false" class="h-full w-full object-scale-down object-center">
      </div>
      <div class="hidden overflow-hidden rounded-lg lg:block" *ngIf="this.photo2">
        <img [src]="BASE_IMAGE_URL + product.url2" (error)="this.photo2=false" class="h-full w-full object-scale-down object-center">
      </div>
      <div class="hidden overflow-hidden rounded-lg lg:block" *ngIf="this.photo3">
        <img [src]="BASE_IMAGE_URL + product.url3" (error)="this.photo3=false" class="h-full w-full object-scale-down object-center">
      </div>
    </div>

    <!-- Product info -->
    <div class="mx-auto max-w-2xl px-4 pb-16 pt-10 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8 lg:px-8 lg:pb-24 lg:pt-16">
      <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">{{product.title}}</h1>
      </div>

      <!-- Options -->
      <div class="mt-4 lg:row-span-3 lg:mt-0">
        <h2 class="sr-only">Product information</h2>
        <p class="text-3xl tracking-tight text-gray-900">{{product.price|currency:"EUR"}}</p>
        <p>Quantità in stock: {{ product.stock }}</p>


        <form class="mt-10">

          <button type="submit" (click)="addToCart()" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600
          px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Aggiungi al carrello</button>
        </form>

        <form class="mt-10">

          <button type="submit" (click)="OpenWishlistModal()" class="mt-10 flex w-full items-center justify-center rounded-md border border-transparent bg-indigo-600
          px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Aggiungi ad una wishlist</button>
        </form>


        <!-- Se reviewExists è true, mostra la recensione -->
        <div *ngIf="reviewExists; else showButtons" class="card bg-base-100 w-96 shadow-xl mt-10">
          <div class="card-body">
            <h2 class="card-title">La tua recensione</h2>
            <p>{{ userReview?.review }}</p>
            <div class="card-actions justify-end">
              <p class="mt-1 text-sm text-gray-500" [ngClass]="{'text-green-500' : userReview?.suggested, 'text-red-500' : !userReview?.suggested}">
                {{ userReview?.suggested ? 'Consigliato' : 'Non consigliato' }}
              </p>
            </div>
          </div>
        </div>

        <!-- Se reviewExists è false, mostra i pulsanti -->
        <ng-template #showButtons>
          <div class="mt-6">
            <h3 class="sr-only">Reviews</h3>
            <div class="flex items-center">
              <div class="flex items-center">
                <button (click)="OpenSuggestedModal()" class="mr-2 text-green-600 hover:text-green-500 text-2xl" aria-label="Consigliato">
                  <i class="fas fa-thumbs-up"></i>
                </button>
                <button (click)="OpenNotSuggestedModal()" class="text-red-600 hover:text-red-500 text-2xl" aria-label="Sconsigliato">
                  <i class="fas fa-thumbs-down"></i>
                </button>
              </div>
              <a href="#" class="ml-3 text-sm font-medium text-indigo-600 hover:text-indigo-500">Recensioni</a>
            </div>
          </div>
        </ng-template>

      </div>

      <div class="py-10 lg:col-span-2 lg:col-start-1 lg:border-r lg:border-gray-200 lg:pb-16 lg:pr-8 lg:pt-6">
        <!-- Description and details -->
        <div>
          <h3 class="sr-only">Description</h3>
          <div>
            <!-- Descrizione del prodotto -->
            <p class="text-base text-gray-900">{{product.description}}</p>
            <!-- Spazio tra descrizione e link -->
            <a (click)="openModal()" class="mt-6 block text-blue-500 underline">Cosa dicono gli utenti?</a>
            <div *ngIf="reviewsAvg > 0; else noVote">
              <p class="mt-2 text-sm text-gray-500">Il {{ reviewsAvg }}% di utenti consiglia questo gioco</p>
            </div>
            <ng-template #noVote>
              <p class="mt-2 text-sm text-gray-500">Lo {{ reviewsAvg }}% di utenti consiglia questo gioco</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Wishlist Modal -->
<div *ngIf="showWishlistModal" class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 transition-opacity" aria-hidden="true">
      <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    </div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900">Wishlist</h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">Aggiungi il prodotto alla tua wishlist esistente.</p>
              <ul>
                <li *ngFor="let wishlist of wishlists">
                  <button (click)="addToWishlist(wishlist)"
                          class="block w-full text-left py-2 px-4 border border-gray-300 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-indigo-500">
                    {{ wishlist.name }}
                  </button>
                </li>
              </ul>
              <p class="text-sm text-gray-500">Oppure crea una nuova wishlist.</p>
              <input type="text" [(ngModel)]="newWishlistName" placeholder="Nome wishlist" class="block w-full p-2 mb-2 border border-gray-300 rounded-md">
              <select [(ngModel)]="newWishlistVisibility" class="block w-full p-2 mb-2 border border-gray-300 rounded-md">
                <option value= 1 >Pubblica</option>
                <option value= 0 >Privata</option>
                <option value= 2 >Solo Amici</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button type="button" (click)="createWishlist()" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:ml-3 sm:w-auto sm:text-sm">Crea Wishlist</button>
        <button type="button" (click)="closeWishlistModal()" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:w-auto sm:text-sm">Chiudi</button>
      </div>
    </div>
  </div>
</div>

<!--Suggested review.ts Modal-->
<div
  *ngIf="showSuggestedModal" class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-4 relative">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 cursor-pointer float-right fill-gray-400 hover:fill-red-500"
         viewBox="0 0 320.591 320.591" (click)="closeSuggestedModal()">
      <path
        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
        data-original="#000000"></path>
      <path
        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
        data-original="#000000"></path>
    </svg>

    <div class="mt-4 p-4">
      <div class="text-center">
        <h3 class="text-2xl font-semibold flex-1 text-gray-800">Perchè consigli questo titolo?</h3>
        <p class="text-sm mt-4 text-gray-600">Offri un feedback e descrivici la tua esperienza</p>
      </div>

      <div class="mt-4">
        <textarea class="w-full p-2 border border-gray-300 rounded-md" rows="4" [(ngModel)]="newSuggestedReviewText" placeholder="Scrivi la tua recensione..."></textarea>
      </div>

      <div class="mt-8 space-y-4">
        <button type="button" (click)="addSuggestedReview()" class="text-sm px-5 py-2.5 w-full bg-blue-600 hover:bg-blue-700 text-white rounded-md tracking-wide">Invia</button>
<!--        <button type="button" (click)="closeSuggestedModal()" class="text-sm w-full bg-transparent hover:underline text-blue-600 tracking-wide">Annulla</button>-->
      </div>
    </div>
  </div>
</div>

<!--Not Suggested review.ts Modal-->
<div *ngIf="showNotSuggestedModal" class="fixed inset-0 p-4 flex flex-wrap justify-center items-center w-full h-full z-[1000] before:fixed before:inset-0 before:w-full before:h-full before:bg-[rgba(0,0,0,0.5)] overflow-auto font-[sans-serif]">
  <div class="w-full max-w-md bg-white shadow-lg rounded-lg p-4 relative">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-3.5 cursor-pointer float-right fill-gray-400 hover:fill-red-500"
         viewBox="0 0 320.591 320.591" (click)="closeNotSuggestedModal()">
      <path
        d="M30.391 318.583a30.37 30.37 0 0 1-21.56-7.288c-11.774-11.844-11.774-30.973 0-42.817L266.643 10.665c12.246-11.459 31.462-10.822 42.921 1.424 10.362 11.074 10.966 28.095 1.414 39.875L51.647 311.295a30.366 30.366 0 0 1-21.256 7.288z"
        data-original="#000000"></path>
      <path
        d="M287.9 318.583a30.37 30.37 0 0 1-21.257-8.806L8.83 51.963C-2.078 39.225-.595 20.055 12.143 9.146c11.369-9.736 28.136-9.736 39.504 0l259.331 257.813c12.243 11.462 12.876 30.679 1.414 42.922-.456.487-.927.958-1.414 1.414a30.368 30.368 0 0 1-23.078 7.288z"
        data-original="#000000"></path>
    </svg>

    <div class="mt-4 p-4">
      <div class="text-center">
        <h3 class="text-2xl font-semibold flex-1 text-gray-800">Perchè sconsigli questo titolo?</h3>
        <p class="text-sm mt-4 text-gray-600">Offri un feedback e descrivici la tua esperienza, anche se negativa</p>
      </div>

      <div class="mt-4">
        <textarea class="w-full p-2 border border-gray-300 rounded-md" rows="4" [(ngModel)]="newNotSuggestedReviewText" placeholder="Scrivi la tua recensione..."></textarea>
      </div>

      <div class="mt-8 space-y-4">
        <button type="button" (click)="addNotSuggestedReview()" class="text-sm px-5 py-2.5 w-full bg-blue-600 hover:bg-blue-700 text-white rounded-md tracking-wide">Invia</button>
<!--        <button type="button" (click)="closeNotSuggestedModal()" class="text-sm w-full bg-transparent hover:underline text-blue-600 tracking-wide">Annulla</button>-->
      </div>
    </div>
  </div>
</div>

<!--  reviews modal-->
  <div *ngIf="isReviewsModalOpen" class="fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white rounded-lg shadow-lg max-w-lg w-full p-6 relative">
      <span class="absolute top-2 right-4 text-gray-500 cursor-pointer text-2xl" (click)="closeModal()">&times;</span>
      <h2 class="text-2xl font-semibold mb-4">Recensioni degli utenti</h2>

      <div *ngFor="let review of reviews" class="bg-white border rounded-lg p-4 mb-4 shadow-md">
        <h3 class="text-xl font-semibold">{{ review?.username }}</h3>
        <p class="mt-2">{{ review?.review }}</p>
        <div class="mt-4 text-right">
          <p class="text-sm" [ngClass]="{'text-green-500': review?.suggested, 'text-red-500': !review?.suggested}">
            {{ review?.suggested ? 'Consigliato' : 'Non consigliato' }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
