<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Il nostro Team:</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Progetto Esame Enterprise Application, Videogame Ecommerce JOKI</p>
    </div>
    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
      <li>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/GiovanniVisalli.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Giovanni Visalli</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sviluppatore</p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/NoemiRuffolo.png" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Noemi Ruffolo</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sviluppatrice</p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/MarcoIannello.webp" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Marco Iannello</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sviluppatore</p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/KevinCorasaniti.jpg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Kevin Corasaniti</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sviluppatore</p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img class="h-16 w-16 rounded-full" src="assets/AndreaBelmonte.jpeg" alt="">
          <div>
            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">Andrea Belmonte</h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">Sviluppatore</p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>
