<div class="chat-container">
  <h2>User Chat</h2>
  <div class="chat-box">
    <div *ngFor="let msg of allMessages" [ngClass]="{'user-message': msg.isUser, 'admin-message': !msg.isUser}">
      <div class="message-bubble">
        {{ msg.content }}
      </div>
      <div class="message-time">{{ msg.timestamp | date:'HH:mm' }}</div>
    </div>
  </div>
  <div class="input-area">
    <input [(ngModel)]="message" placeholder="Scrivi un messaggio..." />
    <button (click)="sendMessage()">Invia</button>
  </div>
</div>
