<div #chatContainer class="chat-container">
  <div *ngFor="let message of allMessages" class="message-wrapper">
    <div [ngClass]="{'user-message': message.isUser, 'admin-message': !message.isUser}">
      <p>{{ message.content }}</p>
      <small>{{ message.timestamp | date:'HH:mm' }}</small>
    </div>
  </div>
</div>

<div class="input-container">
  <input [(ngModel)]="message" (keyup.enter)="sendMessage()" placeholder="Type a message...">
  <button (click)="sendMessage()">Send</button>
</div>